# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist-ssr
*.local

# Editor directories and files
# .vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env


# Python bytecode
__pycache__/
*.py[cod]

# Ignore everything in System Manual
System Manual/**

# Keep the LaTeX source
!System Manual/main.tex

# Keep the images folder and its contents
!System Manual/images/
!System Manual/images/**
